.etiya-header-container {
  margin-bottom: 1rem;

  img {
    display: block;
  }
}

.etiya-title {
  font-weight: bolder;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 36px;
  /* identical to box height, or 100% */
  text-align: center;
  color: #333333;
  margin-bottom: 0rem;
}
.etiya-subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 12px;
  text-align: center;
  color: #828282;
}
