<etiya-single-focus-layout [headerTemplate]="headerTemplate">
  <ng-template #headerTemplate>
    <div class="etiya-header-container">
      <img
        src="assets/images/Etiya Logo.png"
        alt="Etiya Logo"
        class="etiya-logo"
        width="200"
      />
      <img
        [src]="academyLogo"
        alt="Etiya Logo"
        class="etiya-logo"
        width="200"
      />
    </div>
  </ng-template>

  <h1 class="etiya-title">{{ "common_welcome" | translate }}!</h1>
  <p class="etiya-subtitle" translate>auth_signinSubtitle</p>
  <etiya-login-form></etiya-login-form>
</etiya-single-focus-layout>
